.allBooks_body {
    background-color: #456b8d;
    padding: 40px 40px;
    display: grid;
}

.allBooks_border{
    display: grid;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    margin: 5rem 10rem;
    
    border: 1px solid #bbb5ac;
    border-width: 10px;
    background-color: #dae4ed;
}

.allBooks_borderClass{
    display: grid;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    margin: 5rem 10rem;
    
    border: 1px solid #bbb5ac;
    border-width: 10px;
    background-color: rgba(243, 236, 236, 0.795);
}