.allBooks_body {
  background-color: #456b8d;
  padding: 40px 40px;
  display: grid;
}

.allBooks_border {
  display: grid;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  margin: 5rem 10rem;

  border: 1px solid #bbb5ac;
  border-width: 10px;
  background-color: #dae4ed;
}

.allBooks_borderClass {
  display: grid;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  margin: 5rem 10rem;

  border: 1px solid #bbb5ac;
  border-width: 10px;
  background-color: rgba(243, 236, 236, 0.795);
}

.pagination {
  display: flex;
  justify-content: center;
}
.page-item {
  display: flex;
}
.page-link {
  border: 3px white solid;
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.page-link:active {
  background-color: green;
}
