/* Header */
.header {
  /* position: relative; */
  height: 250px;
  background-color: rgba(0, 0, 0, 0.35);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas:
    "head head"
    "input";
}

.logo_background .links {
  grid-area: head;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_area {
  position: fixed;
  top: 70px;
  left: calc(50% - 368px / 2);
  margin: 0px auto;
  display: flex;
  grid-area: input;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
}

/* #input_area {
  position: sticky;
  color: black;
  background-color: black; 
}*/

.logo {
  background: url(https://cdn.pixabay.com/photo/2016/11/29/12/50/bookcases-1869616__340.jpg);
  height: 250px;
  width: 100%;
}

.logo_background {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  /* text-align: center; */
  border-radius: 20px;
  font-size: 20px;
}

.logo,
.button button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: chartreuse;
  box-shadow: 7px 7px rgb(92, 89, 89);
}

.button:active {
  box-shadow: inset 2px 2px 1px black, inset 2px 3px 5px rgba(0, 0, 0, 0.3),
    inset -2px -3px 5px rgba(255, 255, 255, 0.5);
}

/* Media Queries */

/* For very small devices (less than 480px) */
@media screen and (max-width: 480px) {
  body {
    min-width: 375px;
  }

  h1 {
    font-size: 1.2rem;
  }
}

/* For tablets and mobile devices (less than 768px) */
@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: 30% 70%;
  }

  .header,
  .logo {
    height: 150px;
  }

  .input_form_items {
    width: 60%; /* Form occupies more space on mobile */
  }

  .input_area {
    top: 100px;
    left: calc(50% - 275px / 2);
  }

  h1 {
    font-size: 1rem;
  }

  .button {
    padding: 8px 10px;
    font-size: 1rem;
  }
}
