/* @import './var/podstawowe.scss'; */
html {
  scroll-behavior: smooth;
}

body {
  /* width: 100%; */
}

/* body {
  height: 1500px; /* Temporary height to enable scrolling } */

.App {
  text-align: center;
  display: grid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (min-width: 480px) {
  body {
    min-width: 375px;
  }
}
