@import './var/podstawowe.scss';

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navLinks{
  background-color:#dae4ed;
  color: green;
  padding: 10px 0px 30px 0px;
  
  :Link{
    font-size: 20px;
    margin: 20px;
    
    color: white;
    text-decoration: none;
    &:active{
      color: gold;
    }
  }
}